/**
* @Author: geyuanjun
* @Date:   2016-06-22 18:02:58
* @Email:  geyuanjun.sh@superjia.com
* @Last modified by:   geyuanjun
* @Last modified time: 2016-07-15 10:29:22
*/



* {
  font-family: Consolas, 微软雅黑;
  color: #666;
}
.green {
  color: #42b984;
}
.orange {
  color: orange;
}
.demo {
  box-shadow: 2px 2px 8px rgb(204, 204, 204);
  padding: 30px;
  margin: 30px;
}
label span {
  width: 80px;
  display: inline-block;
}
